@use 'sass:color';
@use './mixins' as *;

$blue: #2764F3;
$black: #1d1616;
$white: #f9f8ff;
$mediumGrey: color.change($white, $alpha: 0.1);

.bg-blue {
    background-color: $blue;
}
.bg-black {
    background-color: $black;
}
.bg-white {
    background-color: $white;
}

.border-blue {
    border-color: $blue;
}
.border-black {
    border-color: $black;
}
.border-white {
    border-color: $white;
}

.border_top-blue {
    border-top: 0.15em solid $blue;
}
.border_top-black {
    border-top: 0.15em solid $black;
}
.border_top-white {
    border-top: 0.15em solid $white;
}

.border_bottom-blue {
    border-bottom: 0.15em solid $blue;
}
.border_bottom-black {
    border-bottom: 0.15em solid $black;
}
.border_bottom-white {
    border-bottom: 0.15em solid $white;
}

.text-white {
    color: $white;
}
.text-black {
    color: $black;
}
.text-blue {
    color: $blue;
}

a.text-decoration-none {
    text-decoration: none;
    color: inherit;
}
