// .border-xs {
//     border-width: 1.5px;
//     border-style: solid;
// }

// .border-sm {
//     border-width: 3px;
//     border-style: solid;
// }

// .border-radius-xs {
//     border-radius: 9px;
// }

// .border-radius-sm {
//     border-radius: 18px;
// }

$u: 1.5rem;
$gutter: $u;
$margin: calc(2 * $u);
$module: calc(4 * $u);