$font-path: "../assets/fonts";

@font-face {
    src: url('#{$font-path}/Archivo/Archivo-Regular.ttf');
    font-family: "Archivo_Reg";
}
@font-face {
    src: url('#{$font-path}/Archivo/Archivo-Light.ttf');
    font-family: "Archivo_Thin";
}
@font-face {
    src: url('#{$font-path}/Archivo/Archivo-Bold.ttf');
    font-family: "Archivo_Bold";
}

.text-body {
    font-family: "Archivo_Reg";
    font-size: 1em;
}

.text-display {
    font-family: "Archivo_Bold";
    font-size: 1em;
}

.text-heading {
    font-family: "Archivo_Bold";
    font-size: 1em;
}

.text-box-sm {
    width: clamp(25ch, 50ch, 60ch);
}

.text-box-md {
    width: clamp(50ch, 105ch, 120ch);
}

.text-box-body {
    width: clamp(3ch, 105ch, 120ch);
}