@use './scss_spacing/spacing.scss' as *;
@use './scss_variables/variables' as *;
@use './scss_spacing/spacing' as *;
@use './fonts.scss';
@use './mediaQueries';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --theme-page-bg: #2764F3;
  --theme-footer-color: #E5E5E5;
  --theme-line-border-color: #E5E5E5;
  --theme-body-text-color: #E5E5E5;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  // max-width: 1280px;
  margin: 0 auto;
}

// body {
//   margin: 0;
//   display: flex;
//   place-items: center;
//   min-width: 320px;
//   min-height: 100vh;
// }

body {
  margin: 0;
  // background-color: $blue;
}

.parent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  min-height: 100vh;
  background-color: var(--theme-page-bg);
  // transition: background-color 0.2s ease-in;
}

header {
  grid-column: 1 / 4
}

.left-side {
  grid-column: 1 / 2;
}

main {
  grid-column: 2 / 3;
}

.right-side {
  grid-column: 3 / 4;
}

footer {
  grid-column: 1 / 4;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  // width: 100%;
  color: var(--theme-footer-color);
}

.d-grid_col-5 {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {
  color: var(--theme-body-text-color);
  .line-group hr{
    border-color: var(--theme-line-border-color);
  }
}